# Dependencies
node_modules/
.yarn/
.pnp/
.pnp.js

# Production / Builds
dist/
.next/
out/

# Environment Variables (קריטי!)
.env
.env.local
.env.production
.env.development

# OS 
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?